.cart-list {
  display: flex;
  flex-direction: column;
}
.cart-total {
  text-align: right;
  font-size: 1.7rem;
  margin-right: 20px;
  font-weight: bold;
  color: red;
}
.cart-empty {
  text-align: center;
  font-size: 1.7rem;
  margin: 20px;
  font-weight: bold;
  color: red;
}
.vermas {
  height: 50px;
  width: 1000px;
}
